<p>Olá, <strong> {{ deliveryman }}</strong></p>
<p>Há uma nova encomenda disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ house_number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip }} <br />
</p>
<p>Retire o pedido o quanto antes.</p>
